<h1>All Video Games</h1>
<table>
  <thead>
    <tr>
      <th>
        Rating
      </th>
      <th>
        Title
      </th>
      <th>
        Upvote
      </th>
    </tr>
  </thead>
  <tbody>
    <% @video_games.each do |game| %>
    <tr>
      <td>
        <%= game.stars %>
      </td>
      <td>
        <%= link_to "#{game.title}", video_game_path(game.id)  %>
      </td>
      <td>
        Upvote
      </td>
    </tr>
    <% end  %>
  </tbody>
</table>

<%= link_to "View All Games", welcomes_path %>
<%= link_to "Add a Video Game", new_video_game_path %>
