<table>
  <tr>
    <th>Ranking</th>
    <th>Name</th>
    <th>Upvote</th>
  </tr>

  <% @media.each do |media| %>
  <tr>
    <td> Ranked: <%= media.rank  %></td>
    <td> <%= link_to "#{media.name}", movie_path(media.id) %></td>
    <td> <%= button_to "Upvote", movie_upvote_path(media.id), method: "patch" %> </td>
    </tr>

  <% end %>
</table>
