<table border "1">

<tr>
  <th>
    Rank
  </th>
  <th>
    Movie Name
  </th>
  <th>
    Director
  </th>
  <th>
    Description
  </th>

</tr>

<% @movies.each do |movie| %>
  <tr>
    <td>
      <%= movie.vote %>
    </td>
    <td>
      <%= link_to "#{movie.name}", "/movies/#{movie.id}" %>
    </td>
    <td>
      <%= movie.description %>
    </td>
    <td>
      <%= movie.vote %>
    </td>
  </tr>
  <% end %>

</table>
