<table>

  <%= render partial: "shared/list_headers" %>

  <%= render partial: "shared/list", collection: @movies, as: :object,
    locals: { object_type: "movies" } %>

</table>

<%= render partial: "shared/list_footers", locals: { object_type: "Movie", new_route: new_movie_path }%>
