<h1>Movies</h1>
<%= render partial: "shared/index", locals: { media: @movies,
                                              type: @media_type,
                                              new_path: new_movie_path } %>
