<h1> New Book</h1>
<ul>
  <% @media.errors.each do |column, message| %>
    <li>
      <strong><%= column.capitalize %></strong> <%= message %>
    </li>
  <% end %>
</ul>

<%= render partial: "shared/form", locals: {media: @media, url: @url, method: @method} %>
