<div class="container-fluid">
  <h1> Add A New Movie! </h1>

  <table>
    <tr>
      <td>
        <%= render "movie_form" %>
      </td>
    </tr>
  </table>
  <br>
  <%= link_to "Go Back to All Movies", movies_path %>
</div>
