<h1>
  <%= @album.name %>
  <small> Recorded by: <%= @album.artist %> </small>
</h1>
<h3> Ranked: <%= @album.rank %> </h3>
<%= button_to "Delete", { action: "destroy", id: @movie.id }, method: :delete, data: { confirm: "Are you sure?" } %>
