<% categories.each do |category, objects| %>
  <ol>
    <% objects.each do |object| %>
      <li><%= link_to object.name, "/#{category}/#{object.id}" %> Ranked: <%= object.rank %></li>
    <% end %>
  </ol>
<% end %>
