<% categories.each do |category, objects| %>
  <div class="col-md-4">

    <h1>Top <%= category.capitalize %></h1>

    <ol class="list-unstyled">
      <% objects.each do |object| %>
        <li><h2>
          <%= link_to object.name, "/#{category}/#{object.id}" %>
          <small>
            Ranked: <%= object.rank %>
          </small>
        </li></h2>
      <% end %>
    </ol>

    <%= link_to "View More #{category.capitalize}", "/#{category}" %>

  </div>
<% end %>
