<div class="jumbotron">
  <div class="clearfix">
  <h1><%= link_to "Media Ranker", root_path, method: :get %>
    <%= image_tag("cat.png", class: "img-responsive pull-right image-size")%>
  </h1> 
  <p>The best of everything!</p> 


  </div>
</div>
