<header>
  <div class="jumbotron">
    <%= image_tag("pusheen_dj.png", :alt => "DJ Kitty", size: "200x160", style: "float:left; margin-right: 4px; margin-left: -40px") %>
    <h1><%= link_to "Media Ranker ", root_path, method: :get%><small>Ranking the Best of Everything</small></h1>
  </div>
</header>
