<div class="row">
  <div class="page-header">
    <div class="col-sm-2">
      <%= image_tag("owl.jpg", alt: "Owl") %>
    </div>
    <div class="col-sm-9 col-md-offset-1">
      <h1> <%= link_to "Media Ranker", root_path %> <span>Ranking the Best of Everything</span> </h1>
    </div>
  </div>
</div>
