<div class="page-header">
  <div class="row">
    <div class="col-sm-2">
      <%= image_tag("owl.jpg", alt: "Owl") %>
    </div>
    <div class="col-sm-10">
      <h1> <%= link_to "Media Ranker", root_path %> <small>Ranking the Best of Everything</small> </h1>
    </div>
  </div>
</div>
