<div class="row">
  <% @media.each do |all_of_one_media| %>
    <div class="col-md-4">
      <% all_of_one_media.each do |medium| %>
      <div class="">
        <% if medium.class == Movie %>
          <%= link_to "#{medium.title}", movie_path(id: medium.id) %>
        <% elsif medium.class == Book %>
          <%= link_to "#{medium.title}", book_path(id: medium.id) %>
        <% elsif medium.class == Album %>
          <%= link_to "#{medium.title}", album_path(id: medium.id) %>
        <% end %>
        Ranked: <%= medium.rank %>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
