<table>
  <tr>
    <th>Votes</th>
    <th>Name</th>
    <th>Upvote</th>
  </tr>
  <% media.each do |media| %>
    <tr>
      <% media.votes.nil? ? media.votes = 0 : media.votes %>
      <td>Number of Votes: <%= media.votes %></td>
      <td><%= media.name %></td>
      <td><%= button_to "upvote", pick_upvote_path(params[:controller], media), method: :patch %></td>
    </tr>
  <% end %>



</table>