<table class="table table-condensed table-hover">
  <th>Ranking</th>
  <th>Name</th>
  <th>Upvote</th>
  <tbody>
    <tr>
      <td><%= "Ranked as: #{object.rank}" %></td>
      <td><%= link_to "#{object.name}", "#{path}/#{object.id}" %></td>
    </tr>
  </tbody>
</table>
