<%= button_to "Make a new #{media.first.class.to_s}", send(pick_new_path(media)), method: :get %>

<table>
  <tr>
    <th>Votes</th>
    <th>Name</th>
    <th>Upvote</th>
  </tr>
  <% media.each do |media| %>
    <tr>
      <td>Number of Votes: <%= media.votes %></td>
      <td><%= media.name %></td>
      <td><%= button_to "upvote", pick_upvote_path(params[:controller], media), method: :patch %></td>
    </tr>
  <% end %>


</table>