<% if object.class == Album %>
  <% path = "albums" %>
<% elsif object.class == Movie %>
  <% path = "movies" %>
<% else %>
  <% path = "books" %>
<% end %>

<%= "#{object.class}s" %>
  <table>
    <td><%= link_to "#{object.name}", "#{path}/#{object.id}" %></td>
    <td><%= "Ranked as: #{object.rank}" %></td>
  </table>

