    <h1><%= media.capitalize %></h1>
      <% media_limit.each do |media| %>
      <h2><%= link_to "#{media.name}", url_path(media.id), method: :get %></h2>
      <p>Number of votes: <%= media.votes %></p>
    
    <% end %>
    <%= button_to "View more #{media}", url_index, method: :get %>