<h2> <%= "Top #{media_name}" %> </h2>
  <% media_type.each do |media| %>
    <p> <%= link_to "#{media.name}", send(media_path, media) %>
    Ranked: <%= media.rank  %> </p>
  <% end %>
<%= link_to "View More #{media_name}", send(all_media_path) %>
