<tr>
  <td><%= object.rank %></td>
  <td><%= link_to object.name, "/#{object_type}/#{object.id}" %></td>
  <td><%= button_to "Upvote", "ROUTE STUFF STILL NEED TO ENTER", method: "patch" %></td>
</tr>
