<table>
  <th><%= "Top #{object.name}s" %></th>
  <% object.each do |detail| %>
    <tr>
      <td><%= link_to "#{detail.name}", "#{object.name.downcase}s/#{detail.id}" %></td>
      <td><%= "Ranked as: #{detail.rank}" %></td>
    </tr>
  <% end %>
</table>
<%= link_to "View All #{object.name}s", "/#{object.name.downcase}s" %>

