fdfd Directed by: fdfdf
Ranked: 1

fdfdf



<h1> name </h1>
<h2> Directed by: director </h2>
Ranked: asdnf.rank
asdfkj.description
<%= button_to "Upvote" %>
<%= button_to "Edit #{asjdlf.name}" %>
<%= button_to "Delete" %>
<%= button_to "View all Media", "/" %>

make above inline
