<table>
  <thead>
    <tr>
      <th>Ranking</th>
      <th>Name</th>
      <th>Upvote</th>
    </tr>
  </thead>
  <tbody>
    <% media.each do |medium| %>
      <tr>
        <td><%= medium.rank %></td>
        <td><%= link_to medium.title, polymorphic_path(medium) %></td>
        <td><%= button_to "Upvote", polymorphic_path([medium, :upvote]), { method: :put } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "View All Media", root_path %>
