<%# media.each do |medium| %>
<!--   <p><%# link_to medium.title, polymorphic_path(medium) %></p>
  <p>Ranked: <%# medium.rank %></p> -->
<%# end %>

<h2>
  <%= link_to movie.title, movie %>
  <small>Ranked: <%= movie.rank %></small>
</h2>