<h1>Media Ranking: Ranking the Best of Everything!</h1>
  <h2>Bangin' Jams</h2>
  <!-- <% @all_media.each do |media| %> -->
  <!-- <tr> -->
    <!-- <% media.each do |media_type| %> -->
      <!-- <td><%= media_type.title %>Ranking: <%= media_type.ranking %></td> -->
    <!-- <% end %> -->
    <!-- </tr> -->
  <!-- <% end %> -->

  <!-- change display to under headings instead of table formatting -->


  <h2>Awesome Reads</h2>

  <h2>Must Watch Movies</h2>
