<html>
  <head>
  </head>
    <body>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4">
            <%= render "/movies/index.html.erb" %>
          </div>
          <div class="col-sm-4">
            <%= render "/albums/index.html.erb" %>
          </div>
          <div class="col-sm-4">
            <%= render "/books/index.html.erb" %>
          </div>
        </div>
      </div>
    </body>
  </html>
