<%= render "shared/header" %>

<% { "movies" => @movies, "books" => @books, "albums" => @albums }.each do |key, value| %>
<div class="col-xs-4">
    <h3>Top <%= "#{key.capitalize}" %></h3>
    <%= render partial: "list", collection: value, as: :object, locals: {object_path: key } %>
     <%= link_to "View More #{key.capitalize}", "/#{key}" %>
  </div>
<% end %>

