<h1>Media Ranker</h1>

<h3>Movies</h3>
<%= render "shared/show_media", media: @movies %>

<h3>Books</h3>
<%= render "shared/show_media", media: @books %>

<h3>Albums</h3>
<%= render "shared/show_media", media: @albums %>
