<table>
  <tr>
    <td>
      <%= render "/movies/index.html.erb" %>
    </td>
    <td>
      <%= render "/albums/index.html.erb" %>
    </td>
    <td>
      <%= render "/books/index.html.erb" %>
    </td>
  <tr>
</table>
