<div class="container">
  <div class="jumbotron">

    <h1>Media Ranker</h1>
    <p>Ranking the best of everything.</p>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h3>Top Movies</h3> 
          <p> Descending List of most popular movies.</p>
          <p> Ranked: tba </p>
    </div>
    <div class="col-sm-4">
      <h3>Top Books</h3>
          <p> Descending List of most popular books.</p>
          <p> Ranked: tba </p>
    </div>
    <div class="col-sm-4">
      <h3>Top Albums</h3>
          <p> Descending List of most popular albums.</p>
          <p> Ranked: tba </p>
    </div>
  </div>
</div>
