


<h1>Media Ranker link_to: "/" </h1>
<p>Ranking the best of everything.</p>


<table border "1">

<tr>
  <th>
    Top Movies
  </th>
  <th>
   Top Books
  </th>
  <th>
    Top Albums
  </th>
</tr>
<tr>
   <td>
      1st ranked B
      <p> Ranked: tbd </p>
    </td>

    <td>
      1st ranked M
      <p> Ranked: tbd </p>
    </td>
    
   <td>
      1st ranked A
      <p> Ranked: tbd </p>
    </td>
</tr>

</table>
