<div class="row">
  <% @media.each do |media| %>
    <% if media == @movies %>
      <%= render partial: "shared/home", locals: { media: media,
                                                   title: ' Movies',
                                                   medium_class: :movies } %>
    <% elsif media == @books %>
      <%= render partial: "shared/home", locals: { media: media,
                                                   title: ' Books',
                                                   medium_class: :books } %>
    <% elsif media == @albums %>
      <%= render partial: "shared/home", locals: { media: media,
                                                   title: ' Albums',
                                                   medium_class: :albums } %>
    <% end %>
  <% end %>
</div>
