<table>

  <%= render partial: "shared/list_headers" %>

  <%= render partial: "shared/list", collection: @books, as: :object,
    locals: { object_type: "books" } %>

</table>

<%= render partial: "shared/list_footers", locals: { object_type: "Book", new_route: new_book_path }%>
