<h1>Books</h1>
<%= render partial: "shared/index", locals: { media: @books,
                                              type: @media_type,
                                              new_path: new_book_path } %>
