<div class="container">
  <%= render partial: "shared/index", locals: { media: @books,
                                                type: @media_type,
                                                new_path: new_book_path } %>
</div>
