<div class="container-fluid">
  <h1> Let's add a new Book! </h1>

  <table>
    <tr>
      <td>
        <%= render "book_form" %>
      </td>
    </tr>
  </table>
  <br>
  <%= link_to "All Books List", books_path %>
</div>
