<h1>Albums</h1>
<table>
  <tr>
    <th>Ranking</th>
    <th>Title</th>
    <th>Vote</th>
  </tr>
  <% @albums.each do |album| %>
  <tr>
    <td><%= album.ranking %></td>
    <td><%= link_to "#{album.title}", album_path(album.id), method: :get %></td>
    <td><%= button_to "Vote", class: "btn btn-default" %></td>
  </tr>
  <% end %>
</table>
<%= button_to "Add an Album", new_album_path, method: :get, class: "btn btn-default" %>
