<div class="container">
  <%= render partial: "shared/index", locals: { media: @albums,
                                                type: @media_type,
                                                new_path: new_album_path } %>
</div>
