<h1>Albums</h1>
<%= render partial: "shared/index", locals: { media: @albums,
                                              type: @media_type,
                                              new_path: new_album_path } %>
