<div class="container-fluid">
  <h1> Let's add a new Album! </h1>

  <table>
    <tr>
      <td>
        <%= render "album_form" %>
      </td>
    </tr>
  </table>
  <br>
  <%= link_to "Go Back to All Albums", albums_path %>
</div>
