<%= form_for @object do |f| %>
  <% [:title, :creator, :description, :format].each do |attribute| %>
    <div class="form-group">
      <%= f.label attribute %>
      <%= f.text_field attribute %>
    </div>
  <% end %>

  <%= f.submit "Save" %>
<% end %>
