<div class = "container-fluid">
  <div class="row">
    <div class = "col-sm-4">
      <%= render partial: "shared/index", locals: { media_limit: @movies_limit, media_format: "movies"}%>
    </div>

    <div class = "col-sm-4">
      <%= render partial: "shared/index", locals: { media_limit: @books_limit, media_format: "books"}%>
    </div>

    <div class = "col-sm-4">
      <%= render partial: "shared/index", locals: { media_limit: @albums_limit, media_format: "albums"}%>
    </div>

</div>
</div>


