<%= render "header" %>

<div class="row">
  <%= render partial: "top_lists", locals: {title: "Movies", media: @movies} %>
  <%= render partial: "top_lists", locals: {title: "Books", media: @books} %>
  <%= render partial: "top_lists", locals: {title: "Albums", media: @albums} %>
</div>
