
<div class="row">
  <%= render partial: "top_lists", locals: {title: "Movies", type: @movies} %>
  <%= render partial: "top_lists", locals: {title: "Books", type: @books} %>
  <%= render partial: "top_lists", locals: {title: "Albums", type: @albums} %>
</div>
