<ol class="breadcrumb">
  <%= render partial: "all_media", locals: { active: false } %>
  <%= render partial: "category", locals: { active: false } %>
  <li class="active">New</li>
</ol>

<section class="new-edit-form">
  <%= render partial: "form", locals: { message: "Create a New #{ @category.display_name }" } %>
</section>
