<% @categories.each do |cat| %>
  <section class="category">
    <% cat_folder = cat.to_s.downcase + "s" %>
    <h1>Top <%= cat %>s</h1>
    <% cat.all.each do |item| %>
      <h2><%= link_to "#{ item.name }", "/#{ cat_folder }/#{ item.id }" %> <small>Ranking: <%= item.upvotes || 0 %></small></h2>
    <% end %>
    <%= link_to "View More #{ cat }s", "/#{ cat_folder }" %>
  </section>
<% end %>
