/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  margin: 30px 20px;
}

h6 {
  color: gray;
}

.no-margins {
  margin: 0;
}

.media-list li {
  padding: 10px;
}

// SHARED/DETAILS
.outer-wrapper {
  margin: 0 auto;
  float: none;
}

.inner-wrapper {
  margin: 20px 0;
  padding: 0;
}

.btn-mutators {
  text-align: right;
  margin-bottom: 5px;
  width: 100%;
}
.btn-mutators a {
  margin-left: 5px;
}

.float-right {
  float: right;
  display: inline;
}

// SHARED/LIST
.list {
  margin: 10px auto 20px auto;
  float: none;
}
