// Place all the styles related to the board_games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html{
  background: #fff url('board-games.jpg') no-repeat center fixed;
  background-size: cover;
}

.board-btn{
  background-color: #A10C0E;
}
