// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main {
  margin: auto;
  padding: 0;
  width: 960px;
}

section.category {
  display: inline-block; // this is sort of weird. I wonder if I can get them to go top first.
  padding: 0;
  margin: 0;
  text-align: center;
  width: 33%;
}
