// Place all the styles related to the story_games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html{
  background: #fff url('story-games.JPG') no-repeat center fixed;
  background-size: cover;
}

.note_cards{
  background: url('Notecard.jpg') no-repeat center;
  background-size: contain; ;
}
