// Place all the styles related to the video_games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html{
  background: #fff url('video-games.png') no-repeat center fixed;
  background-size: cover;
}

.btn{
  background-color: #617EF6;
}

.btn:hover{
  background-color: #708af6;
}

h2{
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
}
