<% content_for :style_sheet do %>
  <%= stylesheet_link_tag 'board_games' %>
<% end %>

<% if flash[:error] %>
  <p class="alert alert-danger"><%= flash[:error] %></p>
<% end %>

<%= render partial: "form", locals: { item: @board_game,
                                      title_desc: "Title",
                                      title_placeholder: "Settlers of Catan",
                                      title_value: @board_game.title,
                                      author_desc: "Klaus Teuber",
                                      author_placeholder: "",
                                      author_value: @board_game.author,
                                      description_desc: "The Settlers of Catan is a resource gathering game and was one of the first German-style board games to achieve popularity outside of Europe",
                                      description_placeholder: "",
                                      description_value: @board_game.description,
                                      submit_button: "Add" }
%>
