<header>
    <div class="page-header">
      <div class="container-fluid">
        <h1 style="display: inline;">Media Ranker  </h1>
        <h2 style="display: inline;"> <small> Ranking the Best of Everything</small></h2>
      </div>
    </div>
    <div class="container-fluid">
    </div>
</header>
