<header>
    <div class="page-header">
      <div class="container-fluid">
        <h1 style="display: inline;">Media Ranker   <small> Ranking the Best of Everything</small></h1>
      </div>
    </div>
    <div class="container-fluid">
    </div>
</header>
