<!DOCTYPE html>
<html>
<head>
  <title>C3ProjectsMediaranker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Media Ranker</h1>
  <h2>Ranking the Best of Everything</h2>

<%= yield %>

</body>
</html>
